.header{
    width: 100%;
    height: 40px;

    line-height: 40px;
    border-radius: 10px;
    background: #ffd6f0;
    box-shadow:  12px 12px 23px #b396a8,
                 -12px -12px 23px #ffffff;
}

a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    display: block;
}

.login{
    width: 60px;
    height: 30px;
    margin: 5px auto;

    background-color: azure;
    border-radius: 5px;
    box-shadow: 0px 0px 5px;

    display: block;
    float: right;
}

.login:hover{
    background-color:rgb(68, 68, 68);
}

.login a{
    font-size: 15px;
    margin: -5px 10px;
}

.login a:hover{
    color: white;
}


.header-title{
    margin: 0px auto;
    float: left;
}

.search{
    display: block;
}

.main{
    width:100%;
    height:500px;

    margin: 10px auto 0px;
    line-height: 40px;
    background-color: #ffd6f0;
    border-radius: 10px;
    box-shadow:  12px 12px 23px #b396a8,
                -12px -12px 23px #ffffff;
}

.player{
    height: 500px;
    padding: 20px;
}

.player-picture-box{
    width: 200px;
    height: 200px;
    border: 4px solid black;
	
}

.music-name{
    font-size: 25px;
    margin:-200px 250px;
    float: left;
}

.music-rate{
    font-size: 15px;
    margin:-170px 250px;
    float: left;
}

.btnbox{
    float: left;
    margin-left: 230px;
    margin-top: -100px;
}


.playerbtn{
    /*方案1*/
	float: left;
	width: 30px;
	height: 30px;
	margin: 20px;
	border-radius: 16px;
	background: #a1ffb5;
    box-shadow:
				1.9px 2.7px 2.6px -8px rgba(0, 0, 0, 0.063),
				4.5px 6.6px 6.6px -8px rgba(0, 0, 0, 0.093),
				8.4px 12.4px 13.3px -8px rgba(0, 0, 0, 0.116),
				15px 22.1px 25.1px -8px rgba(0, 0, 0, 0.138),
				28px 41.4px 46.2px -8px rgba(0, 0, 0, 0.164),
				67px 99px 80px -8px rgba(0, 0, 0, 0.21);

    /*方案2*/
    float: left;
    width: 40px;
    height: 30px;
    margin: 20px;
    border-radius: 8px;
    background: #b1ffc2;
    box-shadow: 
                1.9px 2.7px 2.6px -8px rgba(0, 0, 0, 0.063),
                4.5px 6.6px 6.6px -8px rgba(0, 0, 0, 0.093),
                8.4px 12.4px 13.3px -8px rgba(0, 0, 0, 0.116),
                15px 22.1px 25.1px -8px rgba(0, 0, 0, 0.138),
                28px 41.4px 46.2px -8px rgba(0, 0, 0, 0.164),
                67px 99px 80px -8px rgba(0, 0, 0, 0.21);

}

.playerbtn:hover{
    box-shadow:  10px 10px 20px #b2d6db,
                -10px -10px 20px #ecffff;
	background: #cff9ff;
}

#musicbox{
	display: none;
    margin:-120px 250px;
    float: left;
}

.footer{
    width: 100%;
    height: 25px;

    background-color: #ffd6f0;
    border-radius: 10px;
    box-shadow:  12px 12px 23px #b396a8,
                -12px -12px 23px #ffffff;
    margin: 0px auto 5px;

    position:fixed;
    bottom:0;
    left:0;

}

